body {
  background: #fff;
  background-color: #fff; 
}

img.profile {
    border-radius: 50%;}

.reveal {
    li {
        margin-bottom: .5em;
    }

    section { 
        p.profile {
            margin-top: 1.5em;
            font-size: 75%;
        }

        img {
            border: none;
            vertical-align: middle;
                
            &.profile {
                margin: 0;
                width: 1.5em;
                border: none;
            }
        }

        code.rxjs {
            border: 4px solid #B7178C;
            outline: 2px solid white;
            outline-offset: -5px;
        }

        small.logos {
            * {
                vertical-align: middle;
            }

            & > * {
                margin: 0 .25em auto;
            }

            img {
                height: 55px;
                margin-top: 0;
            }
        }
    }

    ul.code-list {
        list-style-type: none;
        font-size: 0.55em;
        
        li {
            margin: 20px auto;
        }
    }
}