body {
  background: #fff;
  background-color: #fff; }

img.profile {
  border-radius: 50%; }

.reveal li {
  margin-bottom: .5em; }

.reveal section p.profile {
  margin-top: 1.5em;
  font-size: 75%; }

.reveal section img {
  border: none;
  vertical-align: middle; }
  .reveal section img.profile {
    margin: 0;
    width: 1.5em;
    border: none; }

.reveal section code.rxjs {
  border: 4px solid #B7178C;
  outline: 2px solid white;
  outline-offset: -5px; }

.reveal section .logos img {
  height: 55px; }
