.reveal section p.profile {
    margin-top: 1.5em;
    font-size: 75%;
}

img.profile {
    border-radius: 50%;}

.reveal section img {
    border: none;
    vertical-align: middle;
        
    &.profile {
        margin: 0;
        width: 1.5em;
        border: none;
    }
}